---
layout: default
title: blog
---

<div class="home">

  <div class="post-list">
    <h1 class="page-title">{{ page.title }}</h1>
    
    {% for post in site.posts %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <svg class="line"><line x1="0" y1="0" x2="1200" y2="0" /></svg>
    {% elsif thecycle == 'even' %}
    <svg class="line"><line x1="0" y1="0" x2="1200" y2="0" /></svg>
    {% endif %}
 
    <div class="row post-preview clearfix">
      <div class="four columns">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img class="img-responsive" src="{{ post.image }}" />
        </a>
      </div>
      <div class="six columns">
        <h2 class="uppercase">
          <a class="post-link " href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta small">{{ post.author }} &#9679; {{ post.date | date: "%b %-d, %Y" }}</p>
        <p>{{ post.excerpt }}</p>
        <p class="small"><a href=" {{ post.url | prepend: site.baseurl }}">read more ></a></p>
      </div>
    </div>

    {% endfor %}
  </div>



  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
