<header class="site-header">

  <div class="container">

    <!-- <svg class="line"><line x1="817" y1="0" x2="1200" y2="0" /></svg> -->

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link uppercase" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <h1 class="site-title ">
      <a class="uppercase" href="{{ site.baseurl }}/">
        <span class="text-dark-purple">C<span class="name">laire</span></span>
        <span class="text-secondary">O<span class="name">sburn</span></span>
      </a>
    </h1>

    <!-- {{ site.title | remove: " " }} -->

  </div>

</header>
