<header class="site-header">

  <div class="wrapper">

    <!-- <svg class="line up"><line x1="0" y1="0" x2="1200" y2="0" /></svg> -->

    <svg class="line"><line x1="0" y1="0" x2="1200" y2="0" /></svg>

    <h1><a class="site-title text-dark-purple uppercase" href="{{ site.baseurl }}/">{{ site.title | remove: " " }}</a></h1>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link uppercase" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
