<header>

  <div class="container">
    <div class="row">
      <div class="site-header eight columns offset-by-two">
        <a class="headline-type uppercase text-white" href="{{ site.baseurl }}/">
          <img class="logo" src="/images/logo-dark-gray.svg" alt="Claire Osburn logo" />
        </a>
      </div>
    </div>

    

    <!-- <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link uppercase" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->

  </div>

</header>
