/*------------------------------------*\
    #COLOR LIST
\*------------------------------------*/

$colors: (
  seafoam:		     #A5E6BA,
  dark-purple:     #5B2A86,
  light-purple:	   #b59ace,
  dark-gray:       #3F3742,
  medium-gray:     #A4A4A4,
  light-gray:      #E5E5E5,
  off-white:       #FAFAFA,
  light-pink:	     #FAC8CD,
  co-orange:	     #FFA552,
  co-blue:		     #439EFA,
  dark-blue:       #326192,
  light-blue:      #9FC8F1,
  co-yellow:	     #FFE589,
  white:		       #FFFFFF


);

// Use key for color
// Usage: foo { color: col("primary"); }
// Compiles: foo { color: #57C9B4; }
@function col($col) {
  @return map-get($colors, '#{$col}');
}


body {
  background-color: col("primary");
}




