/*------------------------------------*\
    #COLOR LIST
\*------------------------------------*/

$colors: (
  seafoam:		     #A5E6BA,
  dark-purple:     #5B2A86,
  light-purple:	   #7E5E9B,
  light-gray:      #E5E5E5,
  secondary:	     #FAC8CD,
  co-orange:	     #FFA552,
  co-blue:		     #9FC8F1,
  co-yellow:	     #F4D35E,
  white:		       #FFFFFF


);

// Use key for color
// Usage: foo { color: col("primary"); }
// Compiles: foo { color: #57C9B4; }
@function col($col) {
  @return map-get($colors, '#{$col}');
}


body {
  background-color: col("primary");
}




