/*------------------------------------*\
    #COLOR LIST
\*------------------------------------*/

$colors: (
  seafoam:		   #A5E6BA,
  dark-purple:     #5B2A86,
  light-gray:      #E5E5E5,
);

// Use key for color
// Usage: foo { color: col("primary"); }
// Compiles: foo { color: #57C9B4; }
@function col($col) {
  @return map-get($colors, '#{$col}');
}


body {
  background-color: col("primary");
}




