// -------------------------//
//    NAVIGATION STYLES 
//
// -------------------------//

.site-nav{
	@include clearfix();
	// padding-top: 20px;
	float: right;
	a {
		display: block;
		@include font-size(1.4);
		&:not(:first-child) { margin-top: 10px; }
		text-align: right;
	}
}