// -------------------------//
//    NAVIGATION STYLES 
//
// -------------------------//

.site-nav{
	@include clearfix();
	// padding-top: 20px;
	float: right;
	a {
		display: inline-block;
		@include font-size(1.9);
		font-weight: 600;
		&:not(:last-child) { padding-right: 20px; }
		text-align: right;
	}
}