/*------------------------------------*\
    #STRUCTURE
\*------------------------------------*/

.site-footer {
	
}
.site-header {
	margin-bottom: 80px;
	.site-title {
		float: left;
		// letter-spacing: 1rem;
		// padding-top: 20px;
		// @include font-size(2.4);
		// color: col(off-white);
	}
}
.page-title {
	font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 0;
}
.post-list {
	margin-top: 175px;
}
.post-preview {
	margin-bottom: 30px;
	padding-top: 30px;
	img {
		// margin-top: 20px;
		// border: 1px solid col(off-white);
	}
}
.line {
	width: 100%;
	stroke: col(seafoam);
	stroke-width: 4;
	height: 5px;
}
.line.up { transform: rotate(359deg); }
.line.down { transform: rotate(1deg); }

// .post-list .line {
// 	&:nth-child(even) {
// 		transform: rotate(359deg);
// 	}
// 	&:nth-child(odd) {
// 		transform: rotate(1deg);
// 	}
// }