---
layout: default
---

	<section class="">
	  <div class="container">
	    <div class="row">
	      <div class="eight columns offset-by-two text-center">
	        <h1>{{ page.title }}</h1>
	        <ul class="no-style inline">
	          <li><span class="tag ux">UX/UI</span></li>
	          <li><span class="tag html">HTML</span></li>
	          <li><span class="tag css">CSS &amp; Sass</span></li>
	          <li><span class="tag js">JavaScript &amp; JQuery</span></li>
	        </ul>
	        <h2 class="text-h5 text-medium-gray uppercase">Case Study</h2>
	      </div>
	    </div><!--./row-->
    </div>
  </section>

  <section>
  	<div class="container">
	    <div class="row">
	      <div class="eight columns offset-by-two">
	        <h3 class="text-h4 text-medium-gray uppercase">Problem</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </div>
	    </div><!--./row-->
	    <div class="row">
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    </div><!--./row-->
	    <div class="row">
		    <div class="eight columns offset-by-two">
	        <h3 class="text-h4 text-medium-gray uppercase">Process</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </div>
	    </div><!--./row-->
	    <div class="row">
		    <div class="eight columns offset-by-two">
	        <h3 class="text-h4 text-medium-gray uppercase">Solution</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </div>
	    </div><!--./row-->
	    <div class="row">
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    	<div class="four columns">
	    		<div class="has-bg-img case-study-img" style="background-image: url('http://placehold.it/1000x1000')">
	    		</div>
	    	</div>
	    </div><!--./row-->
	    <div class="row">
		    <div class="eight columns offset-by-two">
	        <h3 class="text-h4 text-medium-gray uppercase">Results</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      </div>
	    </div><!--./row-->
	  </div>
	</section>

	




<!-- <div class="container">

	<header class="post-header">
		<h1 class="post-title text-h2" itemprop="name headline">{{ page.title }}</h1>
	  
	  <p class="post-meta small"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header>

	<div class="row">
		<article class="post eight columns" itemscope itemtype="http://schema.org/BlogPosting">
		  <img class="img-responsive" src="{{ page.image }}" />
		  <div class="post-content" itemprop="articleBody">
		    {{ content }}
		  </div>
		</article>
		<div class="four columns">
			<aside class="post-suggestions">
				<h4 class="uppercase">You might also like...</h4>
		    {% for post in site.posts %}
		 			<div class="aside-post">
			      <a href="{{ post.url | prepend: site.baseurl }}">
			        <img class="img-responsive" src="{{ post.image }}" />
			        <p class="text-heavy uppercase">
			        {{ post.title }}
				      </p>
			      </a>
		      </div>
		    {% endfor %}
			</aside>
		</div>
	</div>

</div> -->